@font-face {
    font-family: "Integral CF";
    src: url('../../assets/fonts/Fontspring-heavy.otf');
    font-weight: 900;
}
@font-face {
    font-family: "satoshi";
    src: url('../../assets/fonts/Satoshi-Regular.otf');
}
.heroHead
{
    font-family: 'Integral CF';
    font-weight: 800;
}
.paraHead
{
    font-family: 'satoshi';
    margin-top: 15px;
}
.btnHead
{
    font-family: 'satoshi';
    letter-spacing: 1.5px;
    margin-top: 10px;
}